@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Outfit:wght@100..900&display=swap");

/* Todo lo global del sitio */

/* Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-bg;
  font-family: $font-texts;
}

/* Layout base */
main {
  margin: $space-lg;
}

/* Logo, titulo principal */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-accent;
  font-size: 5rem;
  font-family: $font-headline1;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-shadow: $shadow-text;
}

h2 {
  color: $color-accent;
  font-size: 28px;
  font-family: $font-texts;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-top: $space-lg;
}
